__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
build/
dist/

data/*
!data/README.md
SuperNet/supernet-logs/

*.xlsx
*.pt
*.pth
*.tfrecord
*.pbz2
*.tar.gz

results/*.png
results/*.xlsx

